force-app/main/default/flows/Create_Assessment_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Assessment_for_approval</name>
        <label>Submit Assessment for approval</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Registration_Successful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Assessment_record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Added Fault path for Get Assessment Data element</description>
    <dynamicChoiceSets>
        <name>GetExamNamesfromGetRecords</name>
        <collectionReference>Get_Published_Exams</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Exam__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Assessment Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Assessment Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Assessment_record</name>
        <label>Create Assessment record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Assessment_Data_from_Create_Assessment_Element</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Create_Assessment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Exam__c</field>
            <value>
                <elementReference>varP_Choicefrompicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Examinee__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_Time__c</field>
            <value>
                <elementReference>Provide_date_and_time_of_assessment</elementReference>
            </value>
        </inputAssignments>
        <object>Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Assessment_Data_from_Create_Assessment_Element</name>
        <label>Get Assessment Data from Create Assessment Element</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_Assessment_for_approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Get_Assessment_Data</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Assessment_record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Scheduled_Time__c</queriedFields>
        <queriedFields>Exam__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Published_Exams</name>
        <label>Get Published Exams</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Exam_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Getting_Exams</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exam__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Create_Assessment</name>
        <label>Error Create Assessment</label>
        <locationX>704</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EM_CreateAssessment</name>
            <fieldText>&lt;p&gt;Please give below details to your Salesforce Admin&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Flow: &lt;strong&gt;Create_Assessment_Screen_Flow&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Element: &lt;strong&gt;Create_Assessment_record&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;------------------&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Get_Assessment_Data</name>
        <label>Error Get Assessment Data</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_EM_CreateAssessment</name>
            <fieldText>&lt;p&gt;Please give below details to your Salesforce Admin&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Flow: &lt;strong&gt;Create_Assessment_Screen_Flow&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Element: &lt;strong&gt;Get_Assessment_Data_from_Create_Assessment_Element&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;------------------&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Getting_Exams</name>
        <label>Error Getting Exams</label>
        <locationX>968</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EM_GetExams</name>
            <fieldText>&lt;p&gt;Please give below details to your Salesforce Admin&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Flow: &lt;strong&gt;Create_Assessment_Screen_Flow&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Element: &lt;strong&gt;Get_Published_Exams&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;------------------&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Successful</name>
        <label>Registration Successful</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RS_DisplayText</name>
            <fieldText>&lt;p&gt;Congratulations, you have successfully registered for the Exam!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find details below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name of Exam:&lt;/p&gt;&lt;p&gt;{!Get_Assessment_Data_from_Create_Assessment_Element.Exam__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Assessment ID:&lt;/p&gt;&lt;p&gt;{!Get_Assessment_Data_from_Create_Assessment_Element.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Date and Time of your Exam:&lt;/p&gt;&lt;p&gt;{!Get_Assessment_Data_from_Create_Assessment_Element.Scheduled_Time__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Exam_screen</name>
        <label>Select Exam screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Assessment_record</targetReference>
        </connector>
        <fields>
            <name>Select_Exam_Picklist</name>
            <choiceReferences>GetExamNamesfromGetRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Exam Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Provide_date_and_time_of_assessment</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Provide date and time of assessment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Exam_Picklist</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>YourTImezone</name>
            <fieldText>&lt;p&gt;Your timezone is {!$User.TimeZoneSidKey}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Exam_Picklist</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Published_Exams</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam__c</objectType>
    </variables>
    <variables>
        <name>IDtoName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Exam__c</objectType>
    </variables>
    <variables>
        <name>varP_Choicefrompicklist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Select_Exam_Picklist</elementReference>
        </value>
    </variables>
</Flow>
